# Entornos virtuales y variables de entorno
venv/
env/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales (Capa de Datos)
*.sqlite3
*.db

# Archivos de prueba (Reglas de Negocio: Carga de Archivos)
# Evita subir los .pptx reales al repositorio
uploads/
*.pptx

# Archivos autogenerados por PyQt6 (si deciden compilar los .ui a .py)
ui_*.py
*_rc.py

# Archivos generados al crear el ejecutable (.exe) con PyInstaller
build/
dist/
*.spec

# Configuración de IDEs y del sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
